.content {
    margin-top: 45px;
    height: 370px;
    position: relative;
}

.banner {
    height: 370px;
}

.layui-carousel {
    box-shadow: 0px 15px 10px -15px #000;
}

.user {
    width: 170px;
    height: 328px;
    position: absolute;
    background-color: #fff;
    border-radius: 15px;
    right: 170px;
    margin-top: 18px;
    z-index: 99;
    box-shadow: 0px 15px 10px -15px #000;
}

/*处理头像*/
.userPic {
    width: 70px;
    height: 70px;
    margin: 35px auto;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0px 0px 3px #000;
}

.userPic div {
    width: 60px;
    height: 60px;
    margin: 5px;
    border-radius: 50%;
    overflow: hidden;
}

.userPic img:hover {
    transform: rotate(6deg);
}

/*处理下方菜单*/
.user ul {
    margin-top: -20px;
}

.user li {
    width: 120px;
    height: 40px;
    line-height: 40px;
    text-align: left;
    margin: 0 auto;
    /*background-color: yellow;*/
}

.user i {
    color: #ff7600;
    font-size: 19px;
    margin-right: 5px;
}

.user a {
    font-size: 15px;
    font-weight: 500;
    opacity: 0.8;
    text-decoration: none;
}

.user a:hover {
    color: #ff7600;
}

.left {
    width: 400px;
    height: 300px;
    z-index: 99;
    margin-left: 130px;
    margin-top: 18px;
    position: absolute;
}

.exchange {
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    position: absolute;
    left: 475px;
    top: 138px;
    /*background-color: #ff7600;*/
    z-index: 150;
}

.exchange > i {
    font-size: 25px;
    color: #808080;
}

.exchange > i:hover {
    color: #ff7600;
}

.search {
    border: 1px solid #ccc;
    padding: 30px 20px;
    border-radius: 15px;
    box-shadow: 0px 15px 10px -15px #000;
    background-color: #fff;
}

.searchTitle {
    width: 120px;
    height: 40px;
    margin: 0 auto;
    font-size: 28px;
    font-weight: 700;
    font-family: 微软雅黑;
    opacity: 0.8;
}

.searchTitle:hover {
    transform: scale(1.1, 1.1);
}

.form-group input:hover {
    border: 2px solid #ff7600;
}

.submit:hover {
    transform: translate(-2px, -2px);
    box-shadow: 0px 0px 5px #000;
}

.form-horizontal {
    width: 370px;
    height: 210px;
    margin: 0 auto;
}

/*下部部分*/
.down {
    width: 1280px;
    height: 400px;
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    overflow: hidden;
    box-shadow: 0px 15px 10px -15px #000;
    margin-bottom: 30px;
}

.downLeft {
    width: 82%;
    height: 500px;
    display: inline-block;
    float: left;
}

.leftTop {
    width: 100%;
    height: 15%;
    /*background-color: yellow;*/
    position: relative;
}

.line {
    width: 100%;
    height: 3px;
    position: absolute;
    right: 0;
    bottom: 0;
    background-color: #ff7600;
}

.leftTop i {
    position: absolute;
    left: 1%;
    bottom: 6px;
    font-size: 50px;
    color: red;
}

.leftTop span {
    position: absolute;
    bottom: 12px;
    left: 6%;
    font-size: 25px;
    font-weight: 600;
    color: #666;
}

.leftDown {
    width: 100%;
    height: 85%;
    background-color: #fff;
}

.Tips {
    width: 100%;
    height: 330px;
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    padding: 20px 20px;
}

.Tips > div {
    width: 235px;
    height: 110px;
    margin: 13px 8px;
    background-color: #fffbf7;
    border-radius: 12px;
    border: 1px dashed #ccc;
    padding: 20px 20px;
}

.Tips > div:hover {
    border: 1px solid #ff7600;
    background-color: #f5f5f9;
}

.TipsTitle {
    font-size: 18px;
    font-weight: 500;
    opacity: 0.7;
    text-align: center;
}

.TipsPrice {
    font-size: 18px;
    font-weight: 600;
    color: #ff7600;
    margin-top: 10px;
    margin-left: 10px;
}

.TipsPrice span {
    font-size: 28px;
    font-weight: 600;
    margin-right: 7px;
    color: #FF5722;
}

.TipsPrice > .layui-btn {
    background-color: #ff7600;
    height: 30px;
    line-height: 30px;
    margin-top: -6px;
    text-decoration: none;
}

.TipsPrice > .layui-btn:hover {
    transform: scale(1.1, 1.1);
}

.downRight {
    width: 18%;
    height: 500px;
    display: inline-block;
}

.rightTop {
    width: 100%;
    height: 15%;
    position: relative;
}

.rightTop i {
    position: absolute;
    left: 1%;
    bottom: 6px;
    font-size: 30px;
    color: red;
}

.rightTop span {
    position: absolute;
    bottom: 8px;
    left: 14%;
    font-size: 15px;
    font-weight: 500;
    color: #666;
}

.rightDown {
    width: 100%;
    height: 330px;
    background-color: #fff;
    border-left: 3px dashed #ff7600;
}

.rightDown div {
    padding: 0 3px;
}


/*问题部分*/
.problem {
    width: 1280px;
    height: 80px;
    background-color: #fff;
    box-shadow: 0px 15px 10px -15px #000;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.problem a {
    flex-grow: 1;
    height: 80px;
    line-height: 80px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
}

.problem a:hover {
    cursor: pointer;
}

.problem div {
    height: 80px;
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: row;
}

.problem div:hover {
    color: #ff7600;
}

.problem i {
    font-size: 30px;
    color: #ff7600;
    margin-right: 3px;
}

.problem i:hover {
    transform: scale(1.2, 1.2);
}

/*新闻部分*/
/*.adv_body {
    height: 350px;
    !*margin-top: 15px;*!
    !*margin-left: 110px;*!
    margin: 15px auto;
    padding-left: 45px;
}

.advs1 {
    width: 500px;
    height: auto;
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
    float: left;
    margin-right: 270px;
}

.advs2 {
    width: 500px;
    height: auto;
    font-size: 14px;
    line-height: 20px;
    display: inline-block;
}

.advs_title {
    width: 300px;
    height: 45px;
    vertical-align: center;
    background: -webkit-gradient(linear, left top, right bottom, from(#00a89a), to(white));
    !* background-color: #009688;*!
    border-radius: 30px;
    padding: 10px;
    color: whitesmoke;
    line-height: 25px;
    font-size: 18px;
}*/

.adv {
    width: 100%;
    height: 100px;
    margin-top: 30px;
    background-color: #eaeaea;
}

.advList {
    width: 1280px;
    height: 100px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.advList > div {
    flex-grow: 1;
    /*background-color: red;*/
    height: 100px;
    line-height: 80px;
    text-align: center;
    display: flex;
    flex-direction: column;
}

.advList p {
    flex-grow: 1;
    margin-top: -55px;
    font-size: 16px;
    font-weight: 500;
    color: #999;
}

.advList i {
    flex-grow: 1;
    font-size: 45px;
    color: #ff7600;
    background-color: #fff;
    border-radius: 50%;
}

.adv2 {
    width: 100%;
    height: 200px;
    background-color: #333;
}

.adv2List {
    width: 1300px;
    height: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
}

.adv2List div {
    height: 200px;
    flex-grow: 1;
    text-align: center;
    /*background-color: #fff;*/
}

.adv2List ul {
    padding-top: 20px;
}

.adv2List li {
    margin-bottom: 8px;
}

.adv2List span {
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 10px;
}

.adv2List a {
    font-size: 12px;
    color: #ccc;
}

.iconfontdiv {
    padding-top: 40px;
}

.iconfontdiv p {
    margin-top: 10px;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
}

.iconfontdiv i {
    font-size: 50px;
    color: #fff;
}

.layui-show {
    text-decoration: none;
}

.footer {
    height: 30px;
}
